################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrvaAplikacija/.vs/PrvaAplikacija
/PrvaAplikacija/PrvaAplikacija/bin/Debug
